body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* header and navigation bar  */
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;

}

.header nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.header li{

  list-style: none;

}
.header a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 1rem;
  font-family: 'Karla', sans-serif;
  font-size: 18pt;
}

/* main */

.main{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "home""specials""testimonials""about""footer";

  padding-top: 50px;
}

article{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto auto ;
  justify-content: center;



}
#home{
  background-color: #495E57;
  grid-area: home;
}
#description-home{

  grid-area: 2/3/span 2/span 8;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;


}

#description-home h1{
  font-size: 64pt;
  font-family: 'Markazi Text', serif;
  color: #f4ce14;
  margin: 0;

}
#description-home h3{
  font-size: 40pt;
  font-family: 'Markazi Text', serif;

}
.description-text{
  font-family: 'Karla', sans-serif;
font-size: 18pt;
}

/* specials */

#specials{
  grid-area: specials;
}

#specialsHeader{

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  grid-area: 1/3/span 1/span 8;

}
#specialsHeader h1{
  font-size: 40pt;
  font-family: 'Markazi Text', serif;

}

.specialscard{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-top: 1rem;
  background-color: rgb(224, 224, 224);
  width: 250px;

}

#specialItems{

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* align-items: center; */
  flex-wrap: nowrap;

  grid-area: 2/3/span 1/span 8;

}

#specialItems img{
  width: inherit;
  height: 150px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}


/* reviews */

#testimonials{
  grid-area: testimonials;
  padding-bottom: 3rem;

}


#testimonialsHeader{
  grid-area: 1/3/span 1/span 8;
  text-align: center;
  font-size: 40pt;
  font-family: 'Markazi Text', serif;

}

#reviews{

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* align-items: center; */
  flex-wrap: nowrap;

  grid-area: 2/3/span 1/span 8;

}

.checked{
  color: orange;
}

.reviewsCard{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-top: 1rem;
  background-color: rgb(224, 224, 224);
  width: 250px;

  text-align: center;



}
#reviews img{
  width: 200px;
  height: 200px;
  border-radius: 50%;

}

/* about */


#about{
  background-color: #495E57;
  grid-area: about;
  padding-bottom: 100px;
}

#about_section{
  grid-area: 1/3/span 2/span 8;
  display: flex;

  justify-content: space-between;
  align-items: center;
  
  margin-top: 1rem;
  margin-bottom: 1rem;


}

#about_section h1{
  font-size: 64pt;
  font-family: 'Markazi Text', serif;
  color: #f4ce14;
  margin: 0;

}
#about_section h3{
  font-size: 40pt;
  font-family: 'Markazi Text', serif;

}
.description-text{
  font-family: 'Karla', sans-serif;
font-size: 18pt;
}


/* footer */

#footer{
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white; */

}

/* reserve a table */
#reservemain{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas: "resvHead""resvForm" ;
  padding-top: 50px;

}

#resvhead{

  background-color: #495E57;

  grid-area: resvHead;
}

#resvheader{
  grid-area: 1/3/span 2/span 8;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#resvForm{
  grid-area: resvForm;
}

#resvFormSection{

  grid-area: 1/3/span 2/span 8;


}



/* general */

button{
  font-size:18pt;
  padding:8;
  border: none;
  border-radius:16pt;
  color:black;
  background-color:#f4ce14;
  font-family: 'Karla', sans-serif;
  margin: 1rem;
}
button:hover{
  transform: scale3d(1.2,1.2,1.2);
  transition: all 1s;
}
img:hover{
  transform: scale3d(1.5,1.5,1.5);
  transition: all 2s;
  border-radius: 16pt;
  border: solid black 1px;
}
/* media  */

/* media */

@media (max-width:426px){
  .header{
    align-items: center;
  }
  .header nav ul{
    display: flex;
    flex-direction: column;

  }
  #description-home{
    display: flex;
    flex-direction: column;
  }

  #specialItems{

    flex-direction: column; 
  }
  #reviews{
    flex-direction: column;
  }

  #about_section{
    flex-direction: column;
  }


}







